body{
    background-image: linear-gradient(#FC03A5, #b5b812);
    height: 700px;
    color: black;
}
html{
    height: 100%;
}
#camera, #result{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}